<div class="container">
	<h1>Entrees</h1>
	<ul class="list">
		<li class="list-item" *ngFor="let entree of entrees">
			<img [attr.src]="entree.imgPath" alt="">
			<p>{{entree.name}}</p>
		</li>
	</ul>
	<h1>Sides</h1>
	<ul class="list">
		<li class="list-item" *ngFor="let side of sides">
			<img [attr.src]="side.imgPath" alt="">
			<p>{{side.name}}</p>
		</li>
	</ul>
	<h1>Soft drinks</h1>
	<ul class="list">
		<li class="list-item" *ngFor="let drink of softDrinks">
			<img [attr.src]="drink.imgPath" alt="">
			<p>{{drink.name}}</p>
		</li>
	</ul>
</div>