.container {
	h1 {
		margin-top: 40px;
	}

	.list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		padding: 0;
		text-align: center;
		width: 800px;
	
		.list-item {
			align-items: center;
			border-radius: 10px;
			border: 1px solid lightgrey;
			display: flex;
			flex-direction: column;
			height: 200px;
			justify-content: space-evenly;
			margin: 10px;
			padding: 5px 5px 0 5px;
			width: 200px;
	
			img {
				max-width: 150px;
				max-height: 100px;
			}
		}
	}
}