.container {
	button {
		display: contents;

		h1 {
			background-color: rgb(243, 243, 243);
			border-bottom: 5px solid rgb(226, 226, 226);
			cursor: pointer;
			margin-top: 10px;
			padding: 5px 5px 5px 10px;
			position: relative;
			text-align: left;
	
			mat-icon {
				position: absolute;
				right: 5px;
				top: 2px;
				font-size: 40px;
				height: 40px;
				width: 40px;
				transition: transform 200ms;
			}
		}

		&.closed {
			mat-icon {
				transform: rotate(180deg);
			}
		}
	}

	.list {
		align-items: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		list-style: none;
		overflow: hidden;
		padding: 0;
		text-align: center;
		transition: height 500ms;
	
		.list-item {
			align-items: center;
			border-radius: 10px;
			border: 2px solid rgb(211, 211, 211);
			cursor: pointer;
			display: flex;
			flex-direction: column;
			height: 200px;
			justify-content: space-evenly;
			margin: 10px;
			padding: 5px 5px 0 5px;
			transition: transform 25ms;
			user-select: none;
			width: 200px;
			
			box-shadow: 1px 1px 0 rgb(180, 180, 180), inset 0 0 10px #ececec;
			-moz-box-shadow: 1px 1px 0 rgb(180, 180, 180), inset 0 0 10px #ececec;
			-webkit-box-shadow: 1px 1px 0 rgb(180, 180, 180), inset 0 0 10px #ececec;

			button {
				cursor: pointer;

				img {
					max-height: 50%;
					max-width: 100%;
				}
	
				p {
					// Button element overrides the main styles for some reason
					font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
					font-size: 14px;
					font-weight: 700;
					transform: scale(1) !important;
	
					@media screen and (max-width: 767px) {
						font-size: 12px;
					}
				}
			}

			&:hover {
				border: 2px solid #505050;
			}

			&:active {
				border: 2px solid #5187ff;
				box-shadow: inset 0 0 0 1px #5187ff, inset 0 0 10px #ececec;
				-moz-box-shadow: inset 0 0 0 1px #5187ff, inset 0 0 10px #ececec;
				-webkit-box-shadow: inset 0 0 0 1px #5187ff, inset 0 0 10px #ececec;
				transform: scale(0.99);
			}

			@media screen and (max-width: 767px) {
				height: 120px;
				width: 120px;
			}
		}
	}
}