.order-status {
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-top: 3px solid rgb(158, 158, 158);
	bottom: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.616);
	color: rgb(17, 17, 17);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 55px;
	left: 0;
	max-height: 92vh;
	position: fixed;
	transition: height 250ms;
	width: 100%;

	.status-header {
		display: block;
		height: 55px !important;
		text-align: center;
		width: 100%;

		@media screen and (max-width: 767px) {
			font-size: 20px;
			margin-bottom: 15px;
		}
	}

	.item-list {
		display: block;
		list-style: none;
		margin-top: 12px;
		padding: 0 5px;

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 35px;

			&:not(:first-child) {
				padding-top: 5px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid rgb(158, 158, 158);
				padding-bottom: 5px;
			}

			.image-container {
				width: 50px;
				text-align: center;
				margin-right: 10px;

				.image {
					display: inline;
					max-height: 35px;
					max-width: 50px;
				}
			}

			.name {
				font-size: 14px;
				font-weight: 700;
			}

			.close {
				cursor: pointer;
				position: relative;
				right: 0;
			}
		}

	}
}

.spacer {
	height: 55px;
}