<div
	class="order-status"
	(click)="expandTray($event,'expanded')"
>
	<h1 class="status-header">
		{{database.data.orders.queue[cart.currentOrder].items.length}} item{{database.data.orders.queue[cart.currentOrder].items.length !== 1 ? 's' : ''}}{{database.data.orders.queue[cart.currentOrder].items.length === 0 ? ' in order' : ''}}.
		<span *ngIf="cart.subtotal > 0"> Subtotal: ${{cart.roundToTenth(cart.subtotal)}}</span>
		<button
			*ngIf="database.data.orders.queue[cart.currentOrder].items.length > 0"
			class="blue-button"
			[routerLink]="['/place-order']"
		>
			Finalize Order
		</button>
	</h1>
	<list-display></list-display>
</div>
