.order-status {
	align-items: center;
	background-color: rgb(255, 255, 255);
	border-top: 3px solid rgb(158, 158, 158);
	bottom: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.616);
	color: rgb(17, 17, 17);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: 55px;
	left: 0;
	max-height: 92vh;
	position: fixed;
	transition: height 250ms;
	width: 100%;

	.status-header {
		display: flex;
		height: 55px !important;
		justify-content: center;
		text-align: center;
		width: 100%;

		span {
			margin-left: 10px;
		}

		&:before {
			@extend .material-icons;
			font-size: 40px !important;
			content: 'expand_more';
			display: block;
			height: 40px;
			margin-right: 10px;
			transform: rotate(180deg);
			transition: transform 200ms;

			@media screen and (max-width: 767px) {
				font-size: 29px !important;
				margin-right: 3px;
				height: 27px;
			}
		}

		@media screen and (max-width: 767px) {
			font-size: 18px;
			margin-bottom: 15px;
		}
	}

	&.expanded {
		.status-header {
			&:before {
				transform: rotate(0);
			}
		}
	}

	.item-list {
		display: block;
		list-style: none;
		padding: 0 5px;
		position: absolute;
		top: 60px;

		.item {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 35px;

			&:not(:first-child) {
				padding-top: 5px;
			}

			&:not(:last-child) {
				border-bottom: 1px solid rgb(158, 158, 158);
				padding-bottom: 5px;
			}

			.image-container {
				width: 50px;
				text-align: center;
				margin-right: 10px;

				.image {
					display: inline;
					max-height: 35px;
					max-width: 50px;
				}
			}

			.name {
				font-size: 14px;
				font-weight: 700;
			}

			.close {
				cursor: pointer;
				position: relative;
				right: 0;
			}
		}

	}
}

.material-icons {
	direction: ltr;
	display: inline-block;
	font-family: 'Material Icons';
	font-feature-settings: 'liga';
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: 1;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
}

.spacer {
	height: 55px;
}